<h1>Create a Team and Heroes!</h1>

<form method="post" action="/teams">
  Team Name:
  Team Motto:

<h2>Hero 1</h2>
  Hero's Name:
  Hero's Power:
  Hero's Biography:

<h2>Hero 2</h2>
  Hero's Name:
  Hero's Power:
  Hero's Biography:

<h2>Hero 2</h2>
  Hero's Name:
  Hero's Power:
  Hero's Biography:

<input type="submit" id="Submit">
</form>
